<!DOCTYPE html>
<link rel="stylesheet" href="{{url_for('static', filename='styles/styles.css')}}">
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<html>

<head>
    <title>Home - Groundlight Weld Counter</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='images/favicon-32x32.png')}}">
    <!--Scripts-->
    {% include 'script.html' %}
</head>

<body>
    <!--Header Bar-->
    {% include 'header.html' %}

    <div id="content" class="content">

        <!--Input Section-->
        <div class="horizontal-group">
            <div class="input-group">
                <label for="jig-number">Jig Number</label>
                <select id="jig-number" class="dropdown">
                    {% for i in range(1, 11) %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group">
                <label for="shift-number">Shift Number</label>
                <select id="shift-number" class="dropdown">
                    {% for i in range(1, 6) %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="vertical-group">
            <div class="input-group">
                <label for="left-welder">Name of Left Welder</label>
                <input type="text" id="left-welder" class="text-box" placeholder="Enter Left Welder Name">
            </div>
            <div class="input-group">
                <label for="right-welder">Name of Right Welder</label>
                <input type="text" id="right-welder" class="text-box" placeholder="Enter Right Welder Name">
            </div>
        </div>

        <!--Line Separator-->
        <hr class="separator">

        <!--Submit Button-->
        <div class="button-container">
            <button id="start-shift-button" class="start-button">
                Start Shift
                <svg xmlns="http://www.w3.org/2000/svg" class="play-icon" viewBox="0 0 24 24">
                    <path d="M8 5v14l11-7z"></path>
                </svg>
            </button>
        </div>
    </div>

    <div id="loading" class="loading"></div>

    <!--Footer Bar-->
    {% include 'footer.html' %}
</body>

</html>